[Unit]
Description=ReXgen WiFi Dashboard Service
After=wifi-manager.service network.target
Requires=wifi-manager.service

[Service]
Type=simple
ExecStart=/opt/influx/netservices-lite/bin/netservices-lite-dashboard
WorkingDirectory=/opt/influx/netservices-lite
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
