[Unit]
Description=ReXgen WiFi Manager Service
After=network.target wpa_supplicant@wlan0.service
Wants=network.target wpa_supplicant@wlan0.service

[Service]
Type=simple
ExecStartPre=/bin/mkdir -p /data/rexgen/tmp /data/rexgen/config /var/run/wpa_supplicant
ExecStart=/opt/influx/netservices-lite/bin/netservices-lite-manager
WorkingDirectory=/opt/influx/netservices-lite
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
