[Unit]
Description=WiFi Monitor Service
After=network.target

[Service]
ExecStart=/bin/bash /opt/influx/ap_flask/wifi_monitor.sh
Restart=on-failure
RestartSec=10
Type=simple
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
