[Unit]
Description=Avoiding the sleep during OTA update 

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 120
ExecStart=/usr/sbin/fw_setenv influx_upgrade 0

[Install]
WantedBy=multi-user.target
