[Unit]
Description=Socket Application Service
After=network.target

[Service]
ExecStart=/home/root/rexusb/rexgencore
Restart=always
User=root
WorkingDirectory=/home/root/rexusb/
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
