[Unit]
Description=System Logging Service (CPU/MEM/TEMP/NET/GNSS)
After=network.target

[Service]
Type=simple
ExecStart=/home/root/rexusb/log/rex_sys_log.sh
Restart=always
RestartSec=10
StandardOutput=append:/home/root/rexusb/log/rex_sys_log.log
StandardError=append:/home/root/rexusb/log/rex_sys_log.err
EnvironmentFile=/home/root/rexusb/log/rex_sys_log.conf

[Install]
WantedBy=multi-user.target
